@import "mocha.css";
* {
  font-family: MesloLGS NF;
  font-size: 16px;
}

window#waybar {
  background-color: @base;
  color: @text;
}

#workspaces button {
  background-color: @surface0;
  color: @text;
  margin: 0.25em;
}

#workspaces button.active {
  color: @pink;
}

#image {
  padding: 0px 0px 0px 10px;
}

#wireplumber {
  background-color: @surface0;
  color: @blue;
  margin: 0.25em;
  padding: 8px;
}

#battery {
  background-color: @surface0;
  color: @green;
  margin: 0.25em;
  padding: 8px;
}

#clock {
  background-color: @surface0;
  color: @flamingo;
  margin: 0.25em;
  padding: 8px;
}

#tray {
  padding: 12px;
}
